.exhibition-item.preview.left-aligned
  .gallery-preview
    - exhibition.random_artworks(6).each do |a|
      = link_to tiny_image(a), a, :id => a.id
  .caption
    %span.title
      = link_to(exhibition.name, exhibition)
    - unless defined? hide_byline && hide_byline == true
      %br
      by #{link_to(exhibition.user.name, exhibition.user)}
      - if exhibition.curated?
        %br
          %b
            Officially curated

