%div#recently-added
  %h4= t('.title')

  %table
  
    %tbody
      - for artwork in @recently_added_artwork
        %tr{ :class => cycle(:odd, :even) }
          %td= link_to thumb_image(artwork), artwork
          %td= link_to basic_title(artwork), artwork
