* {
padding: 0;
margin: 0;
}

html, body {
  height: 100%;
  background-color: #000000;
  color: #ffffff;
}

body {
  text-align: center;
  font: x-small verdana,arial,helvetica,sans-serif;
}

#contents {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  background-color: #666666;
  border-left: 1px solid black; 
  border-right: 1px solid black;
}

#header {
  background-color: #ffcc00;
  font-size: 9pt;
}

#header .top {
  text-align: right;
}

#header .bottom {
  text-align: left;
  font-size: 22pt;
  font-style: italic;
  padding-left: 16px;
  padding-bottom: 10px;
  margin-top: -16px;
}

div#session-menu {
  display: inline-block;
  background-color: #666666;
  margin-right: 1em;
  margin-top: 0px;
  padding: 2px 8px 5px 8px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
}

#main {
  width: 800px;
  background-color: #333333;
}

#sidebar-menu {
  display: inline-block;
  width: auto;
  margin-left: -123px;
  margin-top: 3px;
  float: left;
  text-align: left;
  font-size: 8pt;
}

#sidebar-menu .item {
  background-color: #cc0000;
  width: 106px;
  padding: 4px 4px 4px 12px;
  margin-bottom: 4px;
}

#sidebar-menu .item:hover,
#sidebar-menu .sub.item:hover {
  background-color: #ff9900
}

#sidebar-menu .sub.item {
  margin-left: 16px;
  width: 90px;
  background-color: #cc3300;
}

#footer {
  border-top: 1px solid black;
  padding: 10px;
}

a {  
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#artwork-details {
  text-align: left;
  margin-left: 5px;
}

#dashboard,
#artwork-details,
#general {
  padding: 1.5em;
}

#dashboard img {
  margin: .5em;
}

#dashboard {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#dashboard #navigation,
#my-exhibitions,
#recently-added {
  display: inline-block;
  float: left;
  margin: 1em;
}

#dashboard #navigation {
  margin-top: 4em;
  text-align: left;
}

#main h4, #main h1 {
  margin: .5em;
}

#main a {
  text-decoration: underline;
  color: #ffcc00;
}

#main a:hover {
  text-decoration: none;
  color: #ffffff;
}

#main a img {
  border: 1px solid #ffffff;
}

#main a:hover img {
  border: 1px solid #ffcc00;
}

#recently-added table {
  margin-left: auto;
  margin-right: auto;
}

#my-exhibitions div.title {
  text-align: center;
}

#my-exhibitions div.empty {
  text-align: center;
  font-style: italic;
}

#my-exhibitions .exhibition-preview {
}

span.already-added {
  color: #C0C0C0;
  font-size: 10px;
  font-style: italic;
}

span#previous {
  float: left;
}

span#next {
  float: right;
}

span#previous,
span#next {
  font-size: 16pt;
  margin-top: -3px;
}

span#previous a,
span#next a {
  text-decoration: none;
  color: #ffffff;
}

span#previous a:hover,
span#next a:hover {
  font-weight: bold;
  color: #ffcc00;
}

div#slideshow {
  padding-top: 14px;
  width: auto;
  display: inline-block;
}

div#slideshow img {
  border: 1px solid inherit;
  margin-left: 2px;
}

div#slideshow a.nohover:hover {
  background-color: inherit;
}

#artwork-details img {
  border: 1px solid #ffffff;
}

span.image-link {
  margin-left: .6em;
  margin-right: .6em;
}

p.caption {
  margin-top: 1em;
  margin-bottom: .5em;
  font-size: 9pt;
}

p.caption span.title {
  font-weight: bold;
}

p.caption span.year {
}

p.flat-tree {
  margin-bottom: 1em;
}

table.artworks {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
}

table.artworks td {
  padding: .25em .5em .25em .5em;
}

table.artworks td.action {
  padding: .25em;
}
