#dashboard #navigation,
#dashboard #recently-added,
#dashboard #your-exhibitions,
#artwork-details #navigation,
#artwork-details #artwork,
#exhibitions #navigation,
#exhibitions #exhibitions {
  float: left;
  margin-right: 30px;
}

#dashboard #navigation {
  margin-top: 48px;
}

#artwork-details #navigation,
#exhibitions #navigation {
  margin-top: 48px;
}

#your-exhibitions div.title {
  text-align: center;
}

#your-exhibitions div.empty {
  text-align: center;
  font-style: italic;
}

#your-exhibitions .exhibition-preview {
  width: 200px;
  text-align: center
}

h4 {
  text-align: center
}
