%div#your-exhibitions
  %h4= t('.title')

  - current_user.exhibitions.each do |e|
    %div.exhibition
      %div.title
        = link_to(e.name, e)
      - if e.artworks.empty?
        %div.empty
          \-empty-
      - else
        = render :partial => 'exhibition_preview', :locals => { :exhibition => e }

