%div#navigation
  
  - if current_user.admin?
    %p= link_to t('.new_artwork'), new_artwork_path
  %p= link_to t('.all_artwork'), artworks_path
 
  %br
  %p= link_to t('.new_gallery'), new_gallery_path
  %p= link_to t('.all_galleries'), galleries_path

