- content_for :title, "Credits"

%h2.margin
  Credits

#about
  %p
    Photography by Yuda Golahny, Berta's husband.
 
  %p
    Curated by Amy Golahny, daughter of Berta, and Emily Kopley, granddaughter of Berta.

  %p
    Developed by Gabe Kopley, grandson of Berta.

  %p
    Layout by Megan Mangum (#{link_to "http://wordsthatwork.net", "http://wordsthatwork.net"}).
  
  %p
    The free and open source code is hosted at #{link_to "https://github.com/gkop/bbase", "https://github.com/gkop/bbase"}.

  %p
    revision #{link_to git_revision, git_revision_url}
