- content_for :title, "Biography"

%h2
  Biography

#biography
  :markdown
    #{Configuration.get(:biography_content)}

  - if can?(:manage, Configuration)
    = link_to t("edit"), edit_configuration_path
