- content_for :title, "Biography"

%h2
  Biography

#biography
  .wall-of-text
    :markdown
      #{Settings.get(:biography_content)}

  - if can?(:manage, Settings)
    = link_to t("edit"), edit_settings_path
