- content_for :title, "Contact us"

%h2.margin
  Contact us

#contact-us
  %p
    Thank you for your interest in Golahny.org!

  %p
    We welcome your feedback and are happy to answer your questions.

  %p
    Please send an email to the appropriate member of our team and we'll respond as soon as possible.
   
#contacts
  %ul
    %li
      General inquiries
      %span
        Emily Kopley (#{link_to "emily@golahny.org", "emily@golahny.org"})
    %li
      Artwork sales and licensing
      %span
        Amy Golahny (#{link_to "amy@golahny.org", "amy@golahny.org"})
    %li
      Website issues 
      %span
        Gabe Kopley (#{link_to "gabe@golahny.org", "gabe@golahny.org"})
