#homepage
  - if @gallery.blank?
    = t(".please_assign_gallery")

  - elsif @gallery.artworks.empty?
    Gallery "#{@gallery.name}" assigned to this page, but is empty.
 
  -else
    #slideshow
      #image-placeholder
        = link_to slideshow_image(@artwork), @artwork, :class => 'artwork nohover', :title => basic_title(@artwork)
      %div.navigation 
        %span#previous
          %a{:href => '#', :id => 'previous', :title => "Previous"}
            \<

        %span#next
          %a{:href => '#', :id => 'next', :title => "Next"}
            \>
      
    = render 'slideshow/set_slideshow'  
