%div#homepage
  - if !@exhibition
    Please assign an exhibition to be shown on this page.

  - elsif @exhibition.artworks.count == 0
    Exhibition "#{@exhibition.name}" assigned to this page, but is empty.
 
  -else
    %div#slideshow
      - artwork = @exhibition.artworks.first
      = link_to image_tag(artwork.image.economy.url), artwork, :class => 'artwork nohover', :title => basic_title(artwork)
      %br     
 
      %span#previous
        %a{:href => '#', :id => 'previous'}
          \<

      %span#next
        %a{:href => '#', :id => 'next'}
          \>
      
    = render 'slideshow/set_slideshow'  
