#homepage
  -# Put announcements inside following div
  #announcement.notice
    :markdown
      ## [The first annual Berta Golahny Awards, hosted by the Cambridge Center for Adult Education, where Golahny taught from 1959 to 2001.](https://www.ccae.org/content/recap-berta-golahny-awards)

  - if @gallery.blank?
    = t(".please_assign_gallery")

  - elsif @gallery.artworks.empty?
    Gallery "#{@gallery.name}" assigned to this page, but is empty.

  -else
    #slideshow
      #image-placeholder
        = link_to slideshow_image(@artworks.first), @artworks.first, :class => 'artwork nohover', :title => basic_title(@artworks.first)
      %div.navigation
        %span#previous
          %a{:href => '#', :id => 'previous', :title => "Previous"}
            \<

        %span#fullscreen
          %a{:href => '#', :id => 'fullscreen', :title => "fullscreen"}
            Fullscreen

        %span#next
          %a{:href => '#', :id => 'next', :title => "Next"}
            \>

    = render 'slideshow/set_slideshow'
