%div#homepage
  - if !@exhibition
    = t(".please_assign_gallery")

  - elsif @exhibition.artworks.count == 0
    Exhibition "#{@exhibition.name}" assigned to this page, but is empty.
 
  -else
    %div#slideshow
      - artwork = @exhibition.artworks.first
      = link_to image_tag(artwork.image.slideshow.url), artwork, :class => 'artwork nohover', :title => basic_title(artwork)
      %div.navigation 
        %span#previous
          %a{:href => '#', :id => 'previous', :title => "Previous"}
            \<

        %span#next
          %a{:href => '#', :id => 'next', :title => "Next"}
            \>
      
    = render 'slideshow/set_slideshow'  
