- content_for :title, "Terms of use"

%h2.margin
  Terms of use

#terms
  %p
    The images and text on this website are the property of Berta Golahny's immediate family.

  %p
    Use is allowed under the #{link_to "Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License", "http://creativecommons.org/licenses/by-nc-sa/3.0/", :rel => "license"}.  Other use is forbidden by copyright.
