%h3 Curated Galleries
= render :partial => 'preview', :as => :gallery, :collection => @curated_galleries

%h3 User Galleries
= render :partial => 'preview', :as => :gallery, :collection => @uncurated_galleries
